.storybook-button {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.01rem;
  text-align: center;
  display: inline-flex;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease; /* Add transition effect for smooth color change */
}

.storybook-button--primary {
  color: #FFF;
  display: inline-flex;
  border-color: #575AB9;
  background: linear-gradient(180deg, #1F248F 0%, #00011D 100%);

}
.storybook-button--primary:hover {
  cursor: wait;
  background: linear-gradient(180deg, #3136A5 0%, #00011D 100%);

}

.storybook-button--secondary {
  color: #00011D;
  border-color: #D9D9D9;
  background: linear-gradient(180deg, #EFEFEF 0%, #B0B0B0 100%);

}
.storybook-button--secondary:hover {
  background: linear-gradient(180deg, #FFF 0%, #C8C8C8 100%);
}
