.storybook-button {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.01rem;
  text-align: center;
  display: inline-flex;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease; /* Add transition effect for smooth color change */
}

.storybook-button--primary {
  color: var(--fg-action-primary, #FAFBFE);
  border: var(--border-color-primary, #B7CFFE);
  background: var(--bg-action-primary, #1E2D4C);
}

.storybook-button--primary:hover {
  background: var(--bg-action-primary-hover, #334978);
  color: var(--fg-action-primary, #FAFBFE);  
}

.storybook-button--secondary {
  color: var(--fg-action-secondary, #494A53);
  background: var(--bg-action-secondary, #F0F3FE);
}

.storybook-button--secondary:hover {
  color: var(--fg-action-secondary, #494A53);
  background: var(--bg-action-secondary, #F0F3FE);
  }
