.storybook-button {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.02rem;
  text-align: center;
  display: inline-flex;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s ease; /* Add transition effect for smooth color change */
}

.storybook-button--primary {
  color: var(--fg-action-primary, #FBFBFE);
  border: 1px solid var(--border-color-primary, #D5C6F9);
  background: var(--bg-action-primary, #332749);
}

.storybook-button--primary:hover {
  border: 1px solid var(--border-color-primary, #D5C6F9);
  background: var(--bg-action-primary-hover, #514173);
}

.storybook-button--secondary {
  color: var(--fg-action-secondary, #494A53);
  border: 1px solid var(--border-color-secondary, #CCCED9);
  background: var(--bg-action-secondary, #F0F3FE);
}

.storybook-button--secondary:hover {
  border: 1px solid var(--border-color-secondary, #CCCED9);
  background: var(--bg-action-secondary-hover, #FAFBFE);
  }